<input type="text" size="83"  ng-enter="searchPerson()" placeholder="Search Actors" ng-model="query"> &nbsp;
<button type="button" ng-click="searchPerson()" class="btn btn-primary">Search</button>
<p></p>
<div class="modal fade" id="results">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Results</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        	<thead>
        		<tr>
                	<th></th>
	        		<th>Name</th>
	        	</tr>
        	</thead>
			<tbody>
				<tr ng-repeat="a in actors">
                	<td><img src="http://image.tmdb.org/t/p/w500/{{a.profile_path}}" alt="{{a.profile_path}}"  height="75" width="50"></td>
					<td>{{a.name}}</td>
					<td>
						<a ng-href="" ng-click="setActor(a)" class="btn btn-success" data-dismiss="modal">Select</a>
					</td>
				</tr>
			</tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Go Back</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table>
    <tr>
  		<td>
  	 		<a href="http://image.tmdb.org/t/p/w500/{{actor.profile_path}}" ng-show="actor.profile_path">
            	<img src="http://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="{{actor.profile_path}}"  height="225" width="150">
            </a>
  		</td>
		<td>
			<label ng-show="actor.name" for="title">&nbsp;Name:</label>
		</td>
		<td>
			<span id="title"><font size=5><b>&nbsp;{{actor.name}}</b></font></span>
		</td>
    </tr>
</table>

<hr>
<div class="col-md-6">
  <ul>
    <li ng-repeat="cast in actor.casts | orderBy: 'release_date': 'reverse'">
      <table align="center" width=160%>
         <tr>
         	<td>
  	 		<a href="http://image.tmdb.org/t/p/w500/{{cast.poster_path}}" ng-show="cast.poster_path">
            	<img src="http://image.tmdb.org/t/p/w500/{{cast.poster_path}}" alt="{{cast.poster_path}}" height="60" width="40"/>
            </a>
  			</td>
         	<td><label ng-show="cast.title">Title</label></td>
         	<td><a href="#/error.html">{{cast.title}}</a></td>
            <td><label ng-show="cast.release_date">Released:</label></td>
         	<td>{{cast.release_date}}</td>
          	<td><label ng-show="cast.character">Role:</label></td>
          	<td>{{cast.character}}</td>
        </tr>
      </table>
    </li>
  </ul>
</div>