<input type="text" size="83" placeholder="Search Movies" ng-model="query"> &nbsp;
<button type="button" ng-click="searchMovie()" class="btn btn-primary">Search</button>
<p></p>
<div class="modal fade" id="results">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Results</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        	<thead>
        		<tr>
                	<th></th>
	        		<th>Title</th>
	        		<th>Release date</th>
	        		<th>Rating</th>
	        	</tr>
        	</thead>
			<tbody>
				<tr ng-repeat="m in movies">
                	<td><img src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}" alt="{{m.poster_path}}"  height="40" width="25"></td>
					<td>{{m.title}}</td>
					<td>{{m.release_date}}</td>
					<td>{{m.vote_average}}</td>
					<td>
						<a ng-href="" ng-click="setMovie(m)" class="btn btn-success" data-dismiss="modal">Select</a>
					</td>
				</tr>
			</tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Go Back</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table>
    <tr>
  		<td>
  	 		<a href="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="#/error.html">
            	<img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.poster_path}}"  height="225" width="150">
            </a>
  		</td>
		<td>
			&nbsp;&nbsp;<label for="title">Title:</label>
		</td>
		<td>
			<span id="title">{{movie.title}}</span>
		</td>
    </tr>
    <tr>
		<td>
			<label for="release">Release date:</label>
		</td>
		<td>
			<span id="release">{{movie.release_date}}</span>
		</td>
	</tr>
	<tr>
		<td>
			<label for="vote">Rating:</label>
		</td>
		<td>
			<span id="vote">{{movie.vote_average}} out of 10</span>
		</td>
	</tr>
	<tr>
		<td>
			<label for="count">Votes:</label>
		</td>
		<td>
			<span id="count">{{movie.vote_count}}</span>
		</td>
	</tr>
</table>